@charset "gb2312";
.store-page .image-store-hero {
    background-image: url(../images/shop/s101.jpg);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-store-hero {
        background-image: url(../images/shop/s101.jpg);
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-store-hero {
        background-image: url(../images/shop/s101.jpg)
    }
}


@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-store-hero {
        background-image: url(../images/shop/s101.jpg);
    }
}

/**网点地图**/
/**上南店**/
.store-page .image-store-map {
    background-image: url(../images/shop1map.jpg);
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-store-map {
        background-image: url(../images/shop1map.jpg);
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-store-map {
        background-image: url(../images/shop1map.jpg);
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-store-map {
        background-image: url(../images/shop1map.jpg);
    }
}





.store-page .image-reptile-1 {
    background-image: url("http://images.apple.com/cn/retail/images/events/bts.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-reptile-1 {
        background-image: url("http://images.apple.com/cn/retail/images/events/bts_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-reptile-1 {
        background-image: url("http://images.apple.com/cn/retail/images/events/bts.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-1 {
        background-image: url("http://images.apple.com/cn/retail/images/events/bts_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .store-page .image-reptile-1 {
        background-image: url("http://images.apple.com/cn/retail/images/events/bts.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 144dpi), only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 735px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-1 {
        background-image: url("http://images.apple.com/cn/retail/images/events/bts_2x.jpg");
    }
}
.store-page .image-reptile-2 {
    background-image: url("http://images.apple.com/cn/retail/images/events/watch_store_large_2x.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-reptile-2 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_store_large_2x_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-reptile-2 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_store_large_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-2 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_store_large_2x_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .store-page .image-reptile-2 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_store_large_2x.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 144dpi), only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 735px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-2 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_store_large_2x_2x.jpg");
    }
}
.store-page .image-reptile-3 {
    background-image: url("http://images.apple.com/cn/retail/images/events/watch_psu.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-reptile-3 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_psu_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-reptile-3 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_psu.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-3 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_psu_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .store-page .image-reptile-3 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_psu.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 144dpi), only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 735px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-3 {
        background-image: url("http://images.apple.com/cn/retail/images/events/watch_psu_2x.jpg");
    }
}
.store-page .image-reptile-4 {
    background-image: url("http://images.apple.com/cn/retail/images/events/china-installments.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-reptile-4 {
        background-image: url("http://images.apple.com/cn/retail/images/events/china-installments_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-reptile-4 {
        background-image: url("http://images.apple.com/cn/retail/images/events/china-installments.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-4 {
        background-image: url("http://images.apple.com/cn/retail/images/events/china-installments_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .store-page .image-reptile-4 {
        background-image: url("http://images.apple.com/cn/retail/images/events/china-installments.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 144dpi), only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 735px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-4 {
        background-image: url("http://images.apple.com/cn/retail/images/events/china-installments_2x.jpg");
    }
}
.store-page .image-reptile-5 {
    background-image: url("http://images.apple.com/cn/retail/images/events/apps_night.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-reptile-5 {
        background-image: url("http://images.apple.com/cn/retail/images/events/apps_night_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-reptile-5 {
        background-image: url("http://images.apple.com/cn/retail/images/events/apps_night.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-5 {
        background-image: url("http://images.apple.com/cn/retail/images/events/apps_night_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .store-page .image-reptile-5 {
        background-image: url("http://images.apple.com/cn/retail/images/events/apps_night.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 144dpi), only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 735px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-5 {
        background-image: url("http://images.apple.com/cn/retail/images/events/apps_night_2x.jpg");
    }
}
.store-page .image-reptile-6 {
    background-image: url("http://images.apple.com/cn/retail/images/events/reuse_recycle.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-reptile-6 {
        background-image: url("http://images.apple.com/cn/retail/images/events/reuse_recycle_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-reptile-6 {
        background-image: url("http://images.apple.com/cn/retail/images/events/reuse_recycle.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-6 {
        background-image: url("http://images.apple.com/cn/retail/images/events/reuse_recycle_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .store-page .image-reptile-6 {
        background-image: url("http://images.apple.com/cn/retail/images/events/reuse_recycle.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 144dpi), only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 735px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-6 {
        background-image: url("http://images.apple.com/cn/retail/images/events/reuse_recycle_2x.jpg");
    }
}
.store-page .image-reptile-7 {
    background-image: url("http://images.apple.com/cn/retail/images/events/iphone6.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-reptile-7 {
        background-image: url("http://images.apple.com/cn/retail/images/events/iphone6_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-reptile-7 {
        background-image: url("http://images.apple.com/cn/retail/images/events/iphone6.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-7 {
        background-image: url("http://images.apple.com/cn/retail/images/events/iphone6_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .store-page .image-reptile-7 {
        background-image: url("http://images.apple.com/cn/retail/images/events/iphone6.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 144dpi), only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 735px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-7 {
        background-image: url("http://images.apple.com/cn/retail/images/events/iphone6_2x.jpg");
    }
}
.store-page .image-reptile-8 {
    background-image: url("http://images.apple.com/cn/retail/images/events/macbook.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    .store-page .image-reptile-8 {
        background-image: url("http://images.apple.com/cn/retail/images/events/macbook_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .store-page .image-reptile-8 {
        background-image: url("http://images.apple.com/cn/retail/images/events/macbook.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 144dpi), only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 1068px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-8 {
        background-image: url("http://images.apple.com/cn/retail/images/events/macbook_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .store-page .image-reptile-8 {
        background-image: url("http://images.apple.com/cn/retail/images/events/macbook.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 144dpi), only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 144), only screen and (max-width: 735px) and (min-resolution: 144dppx) {
    .store-page .image-reptile-8 {
        background-image: url("http://images.apple.com/cn/retail/images/events/macbook_2x.jpg");
    }
}
